In [3]:
import pandas as pd

df = pd.read_csv("customer_data.csv")

df.head()

,name,email,age,purchase_frequency,phone
0,Sergey Bezos,sergey.bezos@example.com,68.0,medium,0753-564327
1,Steve Jobs,steve.jobs@example.com,13.0,high,0786-888117
2,Steve Zuckerberg,steve.zuckerberg@example.com,96.0,low,0772-161689
3,Sundar Torvalds,sundar.torvalds@example.com,34.0,low,0762-683571
4,Elon Pichai,invalid_email,52.0,medium,0779-277442

In [6]:
df[df["email"] == "invalid_email"].shape[0]

12

In [10]:
df[df["age"].isna()].shape[0]

18