# Min första Notebook

`[Ctrl]` + `[Enter]` => Kör cell

`[Shift]` + `[Enter]` => Kör cell och gå till nästa

In [1]:
import pandas as pd

df = pd.read_csv("product_data.csv")

df.head()

   product_id              product_name  price size  color
0           1    Awesome Fantastic Coat    399    L  White
1           2            Slimy Blue Hat    909   XL  Green
2           3  Incredible Awesome Scarf    439    S    Red
3           4   Stunning Beautiful Coat    859   XL   Blue
4           5   Fantastic Awesome Socks    989    L  Black

In [3]:
df.shape

(100, 5)

In [6]:
df["size"].value_counts()

S     28
L     21
XL    19
XS    16
M     16
Name: size, dtype: int64

In [9]:
df.tail(10)

    product_id              product_name  price size   color
90          91      Blue Magnificent Hat    969    S     Red
91          92  Fantastic Fantastic Coat    439    M   Black
92          93     Slimy Beautiful Scarf    669    S     Red
93          94       Fantastic Slim Coat    299    M   Green
94          95            Slimy Blue Tie    429    M    Blue
95          96  Awesome Incredible Socks    259    S  Yellow
96          97      Awesome Awesome Coat    309    L  Yellow
97          98    Slimy Fantastic Gloves    819   XS  Yellow
98          99       Large Awesome Scarf    709   XS   Black
99         100   Incredible Stunning Hat    639    L  Yellow

In [10]:
df.nunique()

product_id      100
product_name     94
price            63
size              5
color             6
dtype: int64