In [1]:
import pandas as pd

In [2]:
#Data med Cost of Living Index
COLI = pd.read_csv('F:/YinYang/BIA utbildning/Kurs 5 Design och Visualisering/Vecka 2/Cost_of_Living_Index_2022_withCountryISO.csv')

In [3]:
print(COLI.columns)

Index(['Rank', 'Country', 'Cost of Living Index', 'Rent Index',
       'Cost of Living Plus Rent Index', 'Groceries Index',
       'Restaurant Price Index', 'Local Purchasing Power Index',
       'Country Code'],
      dtype='object')

In [4]:
#Data med Lön för Data Scientists
SALARY = pd.read_csv('F:/YinYang/BIA utbildning/Kurs 5 Design och Visualisering/Vecka 2/Data Science Salary 2021 to 2023.csv')

In [5]:
print(SALARY.columns)

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'company_location',
       'company_size'],
      dtype='object')

In [6]:
print(COLI[['Country Code', 'Cost of Living Index']])

    Country Code  Cost of Living Index
0             AF                 20.37
1             AL                 35.50
2             DZ                 26.87
3             AR                 34.69
4             AM                 33.89
..           ...                   ...
134           VE                 43.20
135           VN                 37.48
136           YE                 53.14
137           ZM                 33.04
138           ZW                 45.68

[139 rows x 2 columns]

In [12]:
unika_titlar = SALARY['job_title'].unique()
antal_titlar = SALARY['job_title'].nunique()
unika_experience = SALARY['experience_level'].unique()
antal_experience = SALARY['experience_level'].nunique()

In [13]:
print(antal_titlar, "Unika Titlar", unika_titlar)
print(antal_experience, "Unika Erfarenhetsnivåer", unika_experience)

93 Unika Titlar ['Applied Scientist' 'Data Quality Analyst' 'Compliance Data Analyst'
 'Machine Learning Engineer' 'Research Scientist' 'Data Engineer'
 'Data Analyst' 'Data Scientist' 'BI Data Engineer' 'Research Engineer'
 'Business Data Analyst' 'Autonomous Vehicle Technician'
 'Applied Machine Learning Scientist' 'AI Programmer' 'AI Developer'
 'Computer Vision Engineer' 'BI Developer' 'Big Data Engineer'
 'Deep Learning Engineer' 'Head of Data' 'Analytics Engineer'
 'Data Architect' 'Director of Data Science' 'Head of Data Science'
 'Data Analytics Manager' 'ML Engineer'
 'Applied Machine Learning Engineer' 'Applied Data Scientist'
 'ETL Engineer' 'Data Specialist' 'Lead Data Analyst' 'Data Manager'
 'Machine Learning Scientist' 'MLOps Engineer' 'Financial Data Analyst'
 'Software Data Engineer' 'Data Science Manager' 'Data Science Consultant'
 'Machine Learning Infrastructure Engineer' 'Insight Analyst'
 'AI Scientist' 'Data Infrastructure Engineer' 'Data Science Lead'
 'Product Data Analyst' 'Data Analytics Lead'
 'Machine Learning Research Engineer' 'Principal Data Scientist'
 'Data Modeler' 'Business Intelligence Engineer' 'Data Strategist'
 'Data DevOps Engineer' 'Machine Learning Researcher'
 'Cloud Database Engineer' 'Data Operations Engineer'
 'Deep Learning Researcher' 'BI Analyst' 'Data Analytics Specialist'
 'BI Data Analyst' 'Machine Learning Software Engineer'
 'Big Data Architect' 'Computer Vision Software Engineer'
 'Azure Data Engineer' 'Data Lead' 'Data Science Engineer' 'NLP Engineer'
 'Machine Learning Developer' 'Data Analytics Engineer'
 'Data Analytics Consultant' '3D Computer Vision Researcher'
 'Lead Data Engineer' 'Head of Machine Learning' 'Data Scientist Lead'
 'Lead Data Scientist' 'ETL Developer' 'Principal Data Analyst'
 'Manager Data Management' 'Principal Machine Learning Engineer'
 'Data Management Specialist' 'Data Science Tech Lead'
 'Cloud Data Engineer' 'Data Operations Analyst' 'Marketing Data Analyst'
 'Product Data Scientist' 'Principal Data Architect'
 'Machine Learning Manager' 'Lead Machine Learning Engineer'
 'Marketing Data Engineer' 'Power BI Developer' 'Cloud Data Architect'
 'Principal Data Engineer' 'Staff Data Scientist' 'Finance Data Analyst'
 'Staff Data Analyst']
4 Unika Erfarenhetsnivåer ['EN' 'EX' 'MI' 'SE']

In [ ]:
Anställningstyper = SALARY['employment_type']

Det finns både ML Engineer och Machine Learning Engineer